<h1><a href="/" class="RollingLink"><span data-hover="Home">Home</span></a> / {{project.title}} <span class="u-muted">{{project.date}}</span></h1>
<div class="u-row">
    <div class="u-col u-col2-3">
        {{{project.description}}}
    </div>
    <div class="u-col u-col1-3">
        <ul class="List">
            <li>
                <p>
                    <span class="u-muted">Site</span> Not yet live</a>
                </p>
            </li>
            <li>
                <p>
                    <span class="u-muted">Client</span> <a href="/" class="RollingLink"><span data-hover="Poop">Poop</span></a>
                </p>
            </li>
        </ul>
        <h2>Tech</h2>
        <ul class="List">
            <li>
                <p><span class="u-muted">+ Single page web app</span></p>
            </li>
            <li>
                <p><span class="u-muted">+ Responsive</span></p>
            </li>
            <li>
                <p><span class="u-muted">+ Mobile optimised</span></p>
            </li>
            <li>
                <p><span class="u-muted">+ Responsive</span></p>
            </li>
            <li>
                <p><span class="u-muted">+ Responsive</span></p>
            </li>
        </ul>
    </div>
</div>
